.btnDiv {
    text-align: center;
    padding: 10px;
}
.label {
    width: 200px;
}
.inputsubDiv{
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.row1 {
    text-align: center;
    background: url(resources/row1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.row1 label {
    margin: 20px;
    text-align: center;
    font-size: 20px;

}
.row1 input {
    font-size: 20px;
}
.row1 select {
    width: 60px; 
    height: 40px;
}
.inputDiv {
    margin: 0 20%;
    
}

.row2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    background: url(resources/header.jpeg)
}
.tableDiv {
    display: flex;
    flex-direction: column;
}
.tableDiv > div {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 40px;
    margin: 0 10%;
}
.tableDiv > div  div{
    border: 1px solid black;
    width: 200px;
    height: 40px;
}
.header {
    height: 100px;
}
.row1 h1 {
    margin: 0px;
    padding:  0px;
}

.header {
    padding-top : 20px;
    background: url(resources/header.jpeg);
    text-align: center;
}
.tableDiv > div > div {
    background: #b4a284;
    border: 2px solid #52aecc;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;

}
.row2 h2 {
    padding-top: 20px;
    color: blue;
}